@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container mt-4">
    <h3>İşlemler</h3>
    <div class="action-buttons">
        <button type="button" id="btnskilllist" class="btn btn-primary">Yetenek Listesi</button>
        <button type="button" id="btnskillcreate" class="btn btn-info">Yetenek Ekle</button>
        <button type="button" id="btnskilldelete" class="btn btn-danger">Yetenek Sil</button>
        <button type="button" id="btnskillget" class="btn btn-primary">Yetenek Getir</button>
        <button type="button" id="btnskillupdate" class="btn btn-success">Yetenek Güncelle</button>
    </div>
</div>

<hr />

<div class="container mt-4">
    <h3>Yetenek Listesi</h3>
    <div id="skilllist"></div>
</div>

<hr />

<div class="container mt-4">
    <h3>Yetenek Getir</h3>
    <div class="input-group">
        <input type="text" placeholder="Getirmek İstediğiniz Yetenek İd Gir" class="form-control" id="txtskillid" />
        
    </div>
    <div id="skillbyid"></div>
</div>

<div class="container mt-4">
    <h3>Yetenek Girişi</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Yetenek Adı" id="txtname" />
        <input type="text" class="form-control mt-2" placeholder="Yetenek Değeri" id="txtvalue" />
    </div>
</div>

<div class="container mt-4">
    <h3>Yetenek Silme Alanı</h3>
    <div class="input-group">
        <input type="text" placeholder="Silmek İstediğiniz Personel id" class="form-control" id="btnskilldeleteid" />
        
    </div>
</div>

<div class="container mt-4">
    <h3>Yetenek Güncelleme Alanı</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Güncellenecek Yetenek ID" id="txteditid" />
        <input type="text" class="form-control mt-2" placeholder="Güncellenecek Yetenek Adı" id="txtnameedit" />
        <input type="text" class="form-control mt-2" placeholder="Güncellenecek Yetenek Değeri" id="txtvalueedit" />
    </div>
</div>

<script>

    $("#btnskilllist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "GET",
            url: "/Skill/SkillList",
            success: function (data) {
                let values = jQuery.parseJSON(data);
                console.log(values);

                let tablehtml = `<table class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Yetenek ID</th>
                                                <th>Yetenek Adı</th>
                                                <th>Yetenek Değeri</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>`;

                $.each(values, (index, value) => {
                    tablehtml += `<tr>
                                        <td>${value.SkillID}</td>
                                        <td>${value.SkillName}</td>
                                        <td>${value.SkillValue}</td>
                                       
                                      </tr>`;
                });

                tablehtml += `</tbody></table>`;
                $("#skilllist").html(tablehtml);

            }
        });
    });//Listeleme
    $("#btnskillcreate").click(function () {
        let skillvalues = {
            SkillName: $("#txtname").val(),
            SkillValue: $("#txtvalue").val()
        };
        $.ajax({
            type: "post",
            url: "/Skill/CreateSkill/",
            data: skillvalues,
            success: function (funk2) {
                let result = jQuery.parseJSON(funk2);
                alert("Yetenek Eklendi");
            }
        });
    });//Ekleme

    $("#btnskilldelete").click(function () {
        let id = $("#btnskilldeleteid").val();
        $.ajax({
            url: "/Skill/DeleteSkill/" + id,
            type: "Get",
            contentType: "application/json",
            success: function (funk4) {
                swal("Yetenek Başarıyla Silindi");
            }
        });
    });//Silme

    $("#btnskillget").click(function () {
        let id = $("#txtskillid").val();
        $.ajax({
            contentType: "application/json",
            dataType:"json",
            url: "/Skill/Getskill/",
            data: { skillid: id },
            success: function (funk3) {
                let result = jQuery.parseJSON(funk3);
                console.log(result);
                let htmlstr=`<table class=table table-hover>
                <tr>
                <th>Yetenek ID</th>
                <th>Yetenek Adı</th>
                <th>Yetenek Değeri</th>
                </tr>
                <tr>
                <td>${result.SkillID}</td>
                <td>${result.SkillName}</td>
                <td>${result.SkillValue}</td>
                    </tr>
                    </table>`;
                $("#skillbyid").html(htmlstr);
            }
        });
    });//Getirme id ye göre

    $("#btnskillupdate").click(function () {
        let values = {
            SkillID:$("#txteditid").val(),
            SkillName:$("#txtnameedit").val(),
            SkillValue:$("#txtvalueedit").val()
        };
        $.ajax({
            url: "/Skill/UpdateSkill",
            type:"post",
            data: values,
            success: function (funk5) {
                swal("Güncelleme Başarılı bir şekilde gerçekleşti");
            }
        });
    });

</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
