@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Hakkımda Listeleme Sayfası</h1>

<table class="table table-bordered">
    <tr>
        <th>Numara</th>
        <td>#</td>
        <th>Açıklama</th>
        <th>Nitelikler</th>
        
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.AboutID</td>
            <td>@item.AboutDescription</td>
            <td>@item.Attributes</td>
            <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-danger">Sil</a></td>
            <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/About/CreateAbout">Yeni Hakkımda Girişi</a>