@model List<MessageCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count =0;
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>Numara</th>
        <td>#</td>
        <th>Mesaj Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.MessageCategoryID</td>
            <td>@item.MessageCategoryName</td>

            <td><a href="/MessageCategory/DeleteMessageCategory/@item.MessageCategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/MessageCategory/UpdateMessageCategory/@item.MessageCategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/MessageCategory/CreateMessageCategory">Yeni Hakkımda Girişi</a>