<div class="container-xxl py-6" id="about">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex align-items-center mb-5">
                    <div class="years flex-shrink-0 text-center me-4">
                        <h1 class="display-1 mb-0">3</h1>
                        <h5 class="mb-0">Yıldır</h5>
                    </div>
                    <h3 class="lh-base mb-0">.Net ve C# Üzerine Kendimi Geliştiriyorum</h3>
                </div>
                <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos.</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Zamanında Teslim</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Uygun Fiyat</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Taksit İmkanı</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
            @await Component.InvokeAsync("_AboutStatisticComponentPartial")
        </div>
    </div>
</div>