@model Contact

<div class="container-xxl pb-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Benimle Çalışmak İstermisiniz</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="">Say Hello</a>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="mb-2">Adresim:</p>
                <h3 class="fw-bold">@ViewBag.Adress</h3>
                <hr class="w-100">
                <p class="mb-2">Telefon:</p>
                <h3 class="fw-bold">@ViewBag.Telefon</h3>
                <hr class="w-100">
                <p class="mb-2">E Mail:</p>
                <h3 class="fw-bold">@ViewBag.Mail</h3>
                <hr class="w-100">
                <p class="mb-2">Follow me:</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <p class="mb-4">İleteşime Geçmek için Aşşağıdaki Formdan Bana Yazmanız yeterli</p>
                <form method="post" asp-action="CreateContact" asp-controller="Contact">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" asp-for="NameSurname" placeholder="Ad Soyad">
                                <label for="name">Ad Soyad</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Mail" asp-for="EMail">
                                <label for="email">Mail Adresiniz</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Konu" asp-for="Subject">
                                <label for="subject">Konu</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Mesajınız" asp-for=Message id="message" style="height: 100px"></textarea>
                                <label for="message">Mesajınız</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5" type="submit">Mesajı Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>